<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shop1</key>
	<dict>
		<key>name</key>
		<string>THỜI TRANG QUẢNG CHÂU </string>
		<key>price</key>
		<string>200.000VND</string>
		<key>images</key>
		<array>
			<string>shop1-0</string>
			<string>shop1-1</string>
			<string>shop1-2</string>
			<string>shop1-3</string>
			<string>shop1-4</string>
			<string>shop1-5</string>
			<string>shop1-6</string>
			<string>shop1-7</string>
		</array>
		<key>content</key>
		<string>http://ThoiTrangQuangChau.vn/
Đ/c: nhà 47 ngõ 260 đường cầu giấy-HN
Thời gian mở cửa các ngày trong tuần: từ 9h-20h 
Shop chuyên bán buôn và bán lẻ thời trang quảng châu.1 tuần update mẫu mới 1 lần,hàng về liên tục,mẫu mã cực teen,hàng siêu độc,đảm bảo chất lượng và màu sắc --&gt; Hàng luôn có sẵn 
1.Khách hàng tại HN:
Đến trực tiếp địa chỉ xem và mua hàng hoặc shop sẽ ship đến nhà(giá ship từ 20k--&gt;30k) 
2.Khách hàng ở các tỉnh khác chuyển khoản vào 1 trong 6 số tk sau:
1: Vietcombank(chi nhánh HN) - Số TK: 00 11 00 2997 130 - chủ tk: Hà Ánh Dương
2: Vietinbank(chi nhánh Ba Đình-HN) - số TK: 711 A 44 60 88 18 - Chủ tk: Hà Ánh Dương
3: Agribank(chi nhánh Từ Liêm-HN) - số TK : 310 020 522 0614 - Chủ tk: Hà Ánh Dương
4:Techcombank(chi nhánh Cầu Giấy-HN) - Số TK: 140 222 833 55019 - Chủ tk: Hà Ánh Dương
5: Ngân hàng BIDV(chi nhánh Tây Hồ-HN)- số TK: 212 100 000 498 94 - Chủ tk: Hà Ánh Dương
6: Ngân hàng ĐÔNG Á (chi nhánh HN)- số TK: 010 115 66 63 - Chủ tk: Hà Ánh Dương 
Trước hoặc sau khi chuyển khoản: báo cho shop: tên+địa chỉ+số đt+mã hàng+số tiền đã chuyển ---&gt; shop sẽ chuyển hàng cho các bạn sau 2-3ngày các bạn nhận được hàng.(khách hàng ở các TP có thể tự trả tiền cước khi nhận hàng,khách hàng ở xã, huyện thì phải chuyển trước tiền cước vận chuyển).
 
CLICK ĐƯỜNG LINK XEM THÊM RẤT NHIỀU MẪU MỚI 
 
wesite:  http://ThoiTrangQuangChau.vn/
 
MỌI CHI TIÊT XIN LIÊN HỆ: (từ :9h---&gt;20h)
Tel: 04.3839.8653 *** Hotline : 0975.949.982
YH: thoi_trang_quang_chau
</string>
	</dict>
	<key>Shop2</key>
	<dict>
		<key>name</key>
		<string>Hong Mode 372 Khâm Thiên XẢ LỖ ĐỒNG GIÁ 99K.. toàn bộ hàng đông</string>
		<key>price</key>
		<string>99.000VND</string>
		<key>images</key>
		<array>
			<string>shop2-0</string>
			<string>shop2-1</string>
			<string>shop2-2</string>
			<string>shop2-3</string>
			<string>shop2-4</string>
			<string>shop2-5</string>
			<string>shop2-6</string>
			<string>shop2-7</string>
		</array>
		<key>content</key>
		<string>ĐỒNG GIÁ từ 99K HÀNG TRĂM SẢN PHẨM-MUA LẺ RẺ HƠN MUA BUÔN.CLICK NGAY
TẾT RẠNG RỠ-SHOPPING THẢ GA VỚI SỰ KIỆN ĐỒNG GIÁ - Hàng trăm sản phẩm ĐỒNG GIÁ 99K - Thời gian: 30/12/2015-07/01/2016 - #Add: 372 Khâm Thiên -#Hotline: Imes/Viber/Zalo 090207406 #372KhamThienTetSaleDonggia99K
Mời các Nàng nhanh chân mua sắm vì số lượng có hạn :*
LIKE FB để update mẫu nhanh nhất: https://www.facebook.com/hongmodeshop/?ref=hl</string>
	</dict>
	<key>Shop3</key>
	<dict>
		<key>name</key>
		<string>Thời trang teen hot hot mặc đông</string>
		<key>price</key>
		<string>150.00VND</string>
		<key>images</key>
		<array>
			<string>shop3-0</string>
			<string>shop3-1</string>
			<string>shop3-2</string>
			<string>shop3-3</string>
			<string>shop3-4</string>
			<string>shop3-5</string>
			<string>shop3-6</string>
		</array>
		<key>content</key>
		<string>Địa chỉ : đối diện 66 68 dốc lã đường ninh hiệp - gia lâm- hà nội sdt 0168 2932 602
SHop chuyên bán buôn bán lẻ mặt hàng thời trang quảng châu cao cấp. mẫu mã đa dạng teen hot girl , khoác choàng váy áo len , hàng về liên tục mẫu mới , hàng sẵn có .
Khách ở gần có thể đến mua buôn mua lẻ trực tiếp tại shop
khách các tỉnh chuyển khoản TÂN VĂN THỊNH : số TK 711A  808 80 432 NGÂN HÀNG VIETIN BANK
Trước khi chuyển khoản báo cho shop : tên địa chỉ số điện thoại mã hàng số tiền chuyển . sau đó shop sẽ gửi hàng sau 2 đến 3 ngày khách sẽ nhận đk hàng. khách ở thành phố có thể tự trả tiền cước , khách ở huyện xã thì chuyển trước cước vận chuyển
mọi thông tin liên hệ hotline zalo 0168 2932 602</string>
	</dict>
	<key>Shop4</key>
	<dict>
		<key>name</key>
		<string>Váy hongkong cao cấp sang chảnh</string>
		<key>price</key>
		<string>300.000VND</string>
		<key>images</key>
		<array>
			<string>shop4-0</string>
			<string>shop4-1</string>
			<string>shop4-2</string>
			<string>shop4-3</string>
			<string>shop4-4</string>
			<string>shop4-5</string>
			<string>shop4-6</string>
		</array>
		<key>content</key>
		<string>truy cập facebook : alexander hermes ( tú hermes) hoặc zalo wechat : 0905959899 đê được báo giá chính xác
 Alexander đồ hiệu hongkong : louis vuitton , channel , dior , versace , gucci , hermes , .....vaf các hãng thời trang cao cấp.
 khách hàng lấy mẫu nảo thì gửi ảnh kèm theo địa chỉ .
 nếu ở hà nội thi đătj 30 % còn tỉnh thi chuyển khoản 
 nguyên ngoc tu số tk : 711a75313919 ngân hang vietinbank chi nhánh hoàn kiem
 uy tín trách nhiệm 
 tuyển đại lý và cộng tác viên bán hang triết khấu cao </string>
	</dict>
	<key>Shop5</key>
	<dict>
		<key>name</key>
		<string>Tổng hợp các loại váy, đầm hàng super</string>
		<key>price</key>
		<string>450.000VND</string>
		<key>images</key>
		<array>
			<string>shop5-0</string>
			<string>shop5-1</string>
			<string>shop5-2</string>
			<string>shop5-3</string>
			<string>shop5-4</string>
			<string>shop5-5</string>
		</array>
		<key>content</key>
		<string>zalo.viber 0965 669 996 instagram: Nhàn Nét. 
  https://www.facebook.com/profile.php?id=100003367759965</string>
	</dict>
	<key>Shop6</key>
	<dict>
		<key>name</key>
		<string>Công sở sành điệu với bộ sưu tập áo sơ mi nữ cao cấp Hàn Quốc</string>
		<key>price</key>
		<string>299.000VND</string>
		<key>images</key>
		<array>
			<string>shop6-0</string>
			<string>shop6-1</string>
			<string>shop6-2</string>
			<string>shop6-3</string>
			<string>shop6-4</string>
			<string>shop6-5</string>
			<string>shop6-6</string>
		</array>
		<key>content</key>
		<string>Áo sơ mi nự Hàn Quốc đang là xu hướng thời trang được các bạn gái vô cùng yêu thích. Phong cách kiểu dáng Hàn Quốc giúp cho các nàng trở nên cá tính, năng động cún hút duyên dáng thanh lịch nơi công sở. 
Facebook: https://www.facebook.com/ThoiTrangXachTayHanQuoc</string>
	</dict>
</dict>
</plist>
